{% extends 'base.html' %}
{% block content %}

<div class="container" id="printable-content">
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">Orders</h1>
            <br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Order ID</th>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Order Date</th>
                        <td>{{ order.date_ordered }}</td>
                    </tr>
                    <tr>
                        <th>Download invoice</th>
                        <td><button class="btn btn-primary" onclick="window.print()">
                                <i class="fas fa-print"></i> Print Invoice
                            </button></td>
                    </tr>
                    <tr>
                        <th scope="row">Order Total</th>
                        <td>${{ order.total_price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Delivery Status</th>
                        <td>{{ order.delivery_status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Payment Method</th>
                        <td>{{ order.payment_method }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Payment Status</th>
                        <td>{{ order.payment_status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Order Status</th>
                        {% if order.is_cancelled %}
                        <td>Cancelled</td>
                        {% else %}
                        <td>Not Cancelled</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if order.delivery_status == 'Delivered' %}
                        <th scope="row">Return Order</th>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#returnModal{{ order.id }}">
                                Return Order
                            </button>
                    
                            <!-- Return Order Modal -->
                            <div class="modal fade" id="returnModal{{ order.id }}" tabindex="-1" aria-labelledby="returnModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="returnModalLabel">Return Order</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Modal Content Here -->
                                            Are you sure you want to return this order?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'orders:return_order' order.id %}" class="btn btn-primary">Confirm Return</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% else %}
                        {% if not order.is_cancelled %}
                        <th scope="row">Cancel Order</th>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#cancelModal{{ order.id }}">
                                Cancel Order
                            </button>
                    
                            <!-- Cancel Order Modal -->
                            <div class="modal fade" id="cancelModal{{ order.id }}" tabindex="-1" aria-labelledby="cancelModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cancelModalLabel">Cancel Order</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Modal Content Here -->
                                            Are you sure you want to cancel this order?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'orders:cancel' order.id %}" class="btn btn-danger">Confirm Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Order Address</th>
                        <td>{{ order.delivery_address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <table class="table my_custom_table ">
                    <thead>
                        <tr>
                            <th class="my_custom_thead rounded-top" colspan="5">Your Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in order_items %}
                        <tr>
                            <td>
                                <a href=""><img src="{{cart_item.product.images.first.image.url}}" alt="" class="float-left rounded custom_image" height="125px" width="125px"></a>
                            </td>
                            <td class="text-left">
                                <b>{{cart_item.product.name}}</b>
                                <br>
                                <br>
                                {% if cart_item.product.price_after_discount < cart_item.product.price %}
                                <p class="fs-poppins bold-500"><b>Price</b>:$ <span class="text-decoration-line-through"> {{cart_item.product.price}} </span> {{cart_item.product.price_after_discount}} </p>
                                {% else %}
                                <b>Price</b>:$ {{cart_item.product.price}}
                                {% endif %}
                                <br>
                                <b>Quantity</b>:{{cart_item.quantity}}
                            </td>
                            <td>
                                <a href="{% url 'shop:detail' cart_item.product.slug %}" class="text-blue"><b>View Details</b></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    @media print {
        body * {
            visibility: hidden;
        }

        #printable-content,
        #printable-content * {
            visibility: visible;
        }

        #printable-content {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>

{% endblock content %}
