{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href='{% static "css/form.css" %}' />
{% endblock css %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Change Password</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="input-data">
            <input type="password" name="current_password" required />
            <div class="underline"></div>
            <label for="current_password">Current Password</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data">
              <input type="password" name="password1" id="password1" required hx-post="{% url 'customer:validate_passwords' %}" hx-target="#passwordValidationResult" hx-trigger="keyup"/>
              <div class="underline"></div>
              <label for="password1">Password</label>
          </div>
          <div class="input-data">
              <input type="password" name="password2" id="password2" required hx-post="{% url 'customer:validate_passwords' %}" hx-target="#passwordValidationResult" hx-trigger="keyup"/>
              <div class="underline"></div>
              <label for="password2">Confirm Password</label>
          </div>
        </div>
        <div id="passwordValidationResult"></div>
        <input type="submit" class="btn btn-success" value="Change Password" />
       
      </form>
    </div>
  </div>
</div>

{% endblock content %}
