{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Create new product</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ product_form.as_p }}

                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form.as_table }}
                {% endfor %}

                <button type="submit" class="btn btn-success mt-2">Create Product</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
